<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=5, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<style>
form {
	padding: 1em;
	background: #f9f9f9;
	border: 1px solid #c1c1c1;
	margin-top: 2rem;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

table {
	border-spacing: 1;
	border-collapse: collapse;
	background: white;
	border-radius: 6px;
	overflow: hidden;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

position :relative


td, th {
	padding-left: 8px
}

thead tr {
	height: 60px;
	background: #FFED86;
	font-size: 16px;
}

tbody tr {
	height: 48px;
	border-bottom: 1px solid #E3F1D5;
}

last-child {
	border: 0;
}

td, th {
	text-align: center;
}

.c {
	text-align: center
}

.r {
	text-align: center
}

header h1 {
	font-size: 40px;
	font-weight: 600;
	background-image: linear-gradient(to left, #553c9a, #b393d3);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	position: center;
}
</style>

<title>Form Tambah Rekening</title>
</head>
<body>
	<header>
		<center>
			<h1>Form Input Rekening Baru</h1>
		</center>
	</header>

	<form method="post" th:action="@{/tambahrekening/save}">

		<div class="row">

			<div class="col">

				<label for="exampleInputEmail1">Nama Lengkap</label> <input
					type="text" th:field="*{nasabahForm.namaLengkap}"
					class="form-control" placeholder="Nama Lengkap">
			</div>
			<div class="col">
				<label for="exampleInputEmail1">Tanggal Lahir</label> <input
					type="date" th:field="*{nasabahForm.tanggalLahir}"
					class="form-control" placeholder="Tanggal Lahir">
			</div>
		</div>
		</br>
		<div class="row">
			<div class="col">
				<label for="exampleInputEmail1">Nomor Identitas</label> 
				<input
					type="text" th:field="*{nasabahForm.nomorIdentitas}"
					class="form-control" placeholder="Nomor Identitas"> 
			</div>
			<div class="col">
				<label for="exampleInputEmail1">Tipe Identitas</label> 
<!-- 				<input
					type="text" th:field="*{nasabahForm.tipeIdentitas}"
					class="form-control"> -->
					<select th:field=*{nasabahForm.tipeIdentitas}
					class="custom-select">
					<option th:value="KTP">KTP</option>
					<option th:value="SIM">SIM</option>
				</select>
			</div>

		</div>
		</br>
		<div class="row">
			<div class="col">
				<label for="exampleInputEmail1">Email</label> <input type="text"
					th:field="*{nasabahForm.email}" class="form-control"
					placeholder="Nama Lengkap">
			</div>
			<div class="col">
				<label for="exampleInputEmail1">Kontak</label> <input type="text"
					th:field="*{nasabahForm.noKontak}" class="form-control">
			</div>
		</div>
		</br>
		<div class="row">
			<div class="col">
				<label for="inputCity">Rekening</label> <input type="number"
					th:field="*{tambahrekeningForm.rekening}" class="form-control"
					id="tambahrekening" placeholder="Tambah Rekening Anda"> </br> <label>Bank
					Provider</label></br> <select name="providers" id="providers"
					class="form-control" >
					<option th:each="provider : ${providers}"
						th:value="${provider.id}" th:text="${provider.namaBank}">
					
					
					</option>
				</select>
			</div>
		</div>
		</br>
		<button type="submit" value="save" class="btn btn-outline-success">Tambah
			Rekening</button>
	</form>
	</br>
	<table class="table table-hover table-fixed">
		<thead>
			<tr>
				<th scope="col">Nama Lengkap</th>
				<th scope="col">Nomor Identitas</th>
				<th scope="col">Tipe Identitas</th>
				<th scope="col">Email</th>
				<th scope="col">Kontak</th>
				<th scope="col">Nomor Rekening</th>
				<th scope="col">Bank Provider</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="rek : ${rekenings}">
				<td th:text="${rek.nasabah.namaLengkap}"></td>
				<td th:text="${rek.nasabah.tanggalLahir}"></td>
				<td th:text="${rek.nasabah.tipeIdentitas}"></td>
				<td th:text="${rek.nasabah.email}"></td>
				<td th:text="${rek.nasabah.noKontak}"></td>
				<td th:text="${rek.rekening}"></td>
				<td th:text="${rek.bankProvider.namaBank}"></td>
			</tr>
		</tbody>
	</table>
	<script inline="javascript">
/*<![CDATA[*/
    var baseUrl =/*[[@{/}]]*/ "";
    /*]]>*/

    function deleteData(data){
    var conf = confirm("Anda Yakin?")
    if(conf ==true){
        window.location = baseUrl + "tambahrekening/delete?id="+data;
    }

    return false;
}
</script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>