<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
<style>
form {
	padding: 1em;
	background: #f9f9f9;
	border: 1px solid #c1c1c1;
	margin-top: 2rem;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

table {
	border-spacing: 1;
	border-collapse: collapse;
	background: white;
	border-radius: 6px;
	overflow: hidden;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

position :relative


td, th {
	padding-left: 8px
}

thead tr {
	height: 60px;
	background: #DED4D4;
	font-size: 16px;
}

tbody tr {
	height: 48px;
	border-bottom: 1px solid #E3F1D5;
}

last-child {
	border: 0;
}

td, th {
	text-align: center;
}

.c {
	text-align: center
}

.r {
	text-align: center
}
header h1 {
	font-size: 40px;
	font-weight: 600;
	background-image: linear-gradient(to left, #553c9a, #b393d3);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	position: center;
}
</style>
<title>Transaction</title>
</head>
<body>
<header>
		<center>
			<h1>Form Transaksi</h1>
		</center>
		
	</header>
	<form method="post" th:action="@{/transaksi/save}"
		th:object="${transferForm}">

		<label>Nomor Rekening Pengirim</label></br> <select name="providers"
			id="providers" class="form-control"
			th:field="*{rekpengirim.rekening}">
			<option th:each="rekeningbaru : ${tambahrekening}"
				th:value="${rekeningbaru.rekening}"
				th:text="${rekeningbaru.rekening}"></option>
		</select> </br>
		<button type="button" class="btn btn-primary mb-2">Cek Pengirim</button>
		</br> <label>Nomor Rekening Penerima</label></br> <select name="providers"
			id="providers" class="form-control"
			th:field="*{rekpenerima.rekening}">
			<option th:each="rekeningbaru : ${tambahrekening}"
				th:value="${rekeningbaru.rekening}"
				th:text="${rekeningbaru.rekening}"></option>
		</select> </br>
		<button type="button" class="btn btn-primary mb-2">Cek
			Penerima</button>
		</br>
		<div>
			<label for="inputEmail3">Jumlah Ammount</label>
			<div>
				<input type="text" class="form-control" id="inputEmail3" th:field="*{jumlahAmount}">
			</div>
		</div>
		</br>
		<div class="form-group">
			<button type="submit" value="save" class="btn btn-outline-info">Kirim
				Amount</button>
		</div>

	</form>
	</br>

	<div class="panel-body table-responsive">
		<table id="example" style="width: 100%"
			class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Rekening Pengirim</th>
					<th>Rekening Penerima</th>
					<th>Amount</th>
					<th>Bank Asal</th>
					<th>Bank Tujuan</th>
					<th>Fee</th>
				</tr>
			</thead>
			
			<tbody th:each="transfer : ${transferamount}">
				<tr>
					 <td th:text="${transfer.rekpengirim.rekening}"></td> 
					<td th:text="${transfer.rekpenerima.rekening}"></td>
					<td th:text="${transfer.jumlahAmount}"></td>
					<td th:text="${transfer.rekpengirim.bankProvider.namaBank}"></td>
					<td th:text="${transfer.rekpenerima.bankProvider.namaBank}"></td>
					<td th:text="${transfer.fee}"></td> 

				</tr>
			</tbody>
		</table>
	</div>

	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"></script>

	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
</body>
</html>